
.cta-1-bkg {
    background-color: #FDC307;
}

.top-section-container {
    display: flex;
    justify-content: space-between;
    
    margin: auto;
    max-width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.cta-message-container {
    display:flex;
    align-items: center;
    max-width: 50%;
}

.cta-message {
    
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 125%;
    /* or 125px */
    letter-spacing: -0.02em;
    /* max-width: 70%; */
}

.img-circle-container {
    max-width: 50%;
}

.img-man-smiling {
    width: 500px;
    height: 500px;
}

.bottom-section-container {
    margin: auto;
    max-width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
}
