
.cta-1-bkg {
    background-color: #FDC307;
    border-radius: 0% 0% 0% 100%;
}

.top-section-container {
    display: flex;
    justify-content: space-between;
    
    margin: auto;
    max-width: 80%;
    padding-top: 5%;
    /* padding-bottom: 5%; */
}

.cta-message-container {
    display:flex;
    align-items: center;
    max-width: 50%;
}

.cta-message {
    
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 125%;
    /* or 125px */
    letter-spacing: -0.02em;
    /* max-width: 70%; */
}

.img-circle-container {
    max-width: 50%;
}

.img-man-smiling {
    width: 500px;
    height: 500px;
}

.bottom-section-container {
    margin: auto;
    max-width: 80%;
    padding-top: 2%;
    padding-bottom: 5%;
}

h2 {
    margin-top: 16px;
    font-style: italic;
    font-weight: 200;
    font-size: 40px;
    line-height: 140%;
    /* or 56px */
    color: #000000;
}

p {
    font-style: italic;
    font-weight: 200;
    font-size: 24px;
    line-height: 140%;
    /* or 56px */
    color: #000000;
}

.schedule-btn {
    margin-top: 16px;
    padding: 14px 14px;
    position: relative;
    width: 152px;
    height: 60px;
    font-size: 1.2rem;
    font-weight: 600;
    background: #ffff;
    border: 1px solid #000000;
    box-shadow: 4px 4px 0px #000000;
}

.schedule-btn:hover {
    cursor: pointer;
    background-color: black;
    
    color: white;
    box-shadow: 4px 4px 0px white;
}